*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightseagreen;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.gif {
    max-width: 100%;
}
  
.text {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    position: relative;
    top: 0;
    transition: top 0.2s, box-shadow 0.2s;
  }
  
  .btn:hover {
    top: 2px;
    box-shadow: 0px 2px 0px #666;
  }
  
  